html{
    height:100%;
    scroll-behavior: smooth;
padding:0;
margin:0;

}


body{
    height:100%;
    margin:0;
    padding:0;
  
}
.backgroundimg{
  background: linear-gradient(rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.8)), url(./pics/gaming.jpg);
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:100%;
  width:100%;
}
#front-page-txt{
  position: relative;
  top:30%;
}

.fa-chevron-down{
  color:white;
  position:absolute;
  font-size:50px;
  left:48%;
  top:90%;
    bottom: 0%;
    margin: auto;
    animation-iteration-count: infinite; 
    animation-duration:1.5s;
    animation:move 2.5s ease infinite;
}

.h1{
    
    color:white;
    word-wrap: normal;
   width:100%;
    font-family: 'Chivo', sans-serif;
    white-space: pre-wrap;
    vertical-align: middle;
    text-align:center;
   
  }
  .h2{
    width:100%;
    margin-top:50px;
    color:white;
    word-wrap: normal;
    font-family: 'Chivo', sans-serif;
    white-space: pre-wrap;
    vertical-align: middle;
    text-align:center;
   
  }
  
.navbar-expand-xl{
  
  
padding:0px;
margin-top:0px;
box-sizing: border-box;

background:rgba(24, 24, 24, 0);
transition:background-color 0.5s linear;

}

.navbar-expand-xl.scrolled{
transition:background-color 0.5s linear;
background-color:black;

}

.navbar-item{
  vertical-align: middle;  
list-style: none;
display: inline-block;
font-family: 'Lato', sans-serif;
font-size: 20px;
margin:8px 55px 10px 100px;
text-decoration: none;
padding:0px; 
}

.navbar-item:after{
    content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
  
  text-decoration: none;
}


.img{
    width: 90px;
    height: 50px;
   padding:0px;
  
}

a{
    text-decoration: none; 
}
.nav-link{
  color:white;
}
.nav-link.scrolled{
  color:#EF0107;
}
a:visited {
    text-decoration: none; 
    
  }
  
  .navbar-item:hover:after{
    width:100%;
    background:#EF0107;
    text-decoration-style: none;
    
  }
  
  a:hover{
    text-decoration: none;
    color:white;
    
  }
  
  
  .navbar-collapse{
    text-align:center;
    background:transparent;
    display:inline-block;
    transition:height 1s;
    background-color:transparent;
    transition: background-color 0.5 linear;
    
  }
  .navbar-collapse.scrolled{
    transition:background-color 0.5s linear;
    background-color:white;
    transition:height 1s;
    }
  
  .navbar-collapse:active{
    height:100%;
  
    
  }
  .navbar-toggler{
display:inline-block;

  }
  .fa-bars{
    color: white;
    margin:5px;
    display: inline-block;
   
   
    
  }
  .fa-bars.scrolled{
    color:white;
    margin:5px;
    
  }
  
  .meniu{
    color:white;
    margin:5px;
  
  }
  .meniu.scrolled{
    color:white;
    margin:5px;
  }
  #about-us{
    position:relative;
    -webkit-box-shadow: 0px 0px 155px -29px rgba(239,1,7,1);
-moz-box-shadow: 0px 0px 155px -29px rgba(239,1,7,1);
box-shadow: 0px 0px 155px -29px rgba(239,1,7,1);
    background: black;
transition:box-shadow 2s;
    scroll-margin:55px;
    
  }
  
  #about-us #objective{
    font-size:60px;
    color:white;
    font-family: 'Chivo', sans-serif;
  text-align: center;
  
  }
  #about-us #about{
    font-size:30px;
    color:white;
    font-family: 'Chivo', sans-serif;
  }
   #contact{
    scroll-margin:220px;
    position: relative;
    -webkit-box-shadow: 0px 0px 155px -29px rgba(239,1,7,1);
-moz-box-shadow: 0px 0px 155px -29px rgba(239,1,7,1);
box-shadow: 0px 0px 155px -29px rgba(239,1,7,1);

  }
  #clmn-tp-1, #clmn-tp-3, #clmn-tp-2{
    background-color:black;
    
  }
  
  #clmn-1{
    background-color:black;
    
    
    

  }
  
  #clmn-2{
    background:black;
    
    

  }
  
  
  @media only screen and (max-width: 1000px) {
    #clmn-2 {
      border-top-width:1px;
      border-top-color:white;
      border-top-style: solid;
      
    }
    #delivery-2, #delivery-3{
      border-top-width:1px;
      border-top-color:white;
      border-top-style: solid;
      
    }
  }
  
  #bg-2{
    background-image:url(./pics/gaming-2.jpg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:600px;
  
  }
  #bg-3{
    background-image:url(./pics/gaming-3.jpg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:400px;
  
  }
 
  #contact #head-1, #head-2{
    
    font-family: 'Chivo', sans-serif;
text-align: center;
color:white;
font-size:40px;
  }
  
  
  @keyframes move{
    0%{
      transform:translate(0);
    }
    50% {
      transform: translate(0,20px);
    }
    100% {
      transform: translate(0);
    }
      }
  
  
  .form-control, #txtarea, .custom-control-label,.form-group #name, #surname, #email, #comment, #paslauga{
    color:white;
    font-family: 'Chivo', sans-serif;
  }

  #send-btn{
    
    margin-top:50px;
  }
#txt-1{
  color:white;
  font-family: 'Chivo', sans-serif;
  
}
iframe{
  width:100%;

 
}
#delivery{
  background-color:black;
  position: relative;
  -webkit-box-shadow: 0px 0px 155px -29px rgba(239,1,7,1);
-moz-box-shadow: 0px 0px 155px -29px rgba(239,1,7,1);
box-shadow: 0px 0px 155px -29px rgba(239,1,7,1);
scroll-margin:200px;
}
#Pristatymas{
  color:white;
  font-family: 'Chivo', sans-serif;
}
#delivery-txt{
  border-bottom-width:1px;
  border-bottom-color:white;
  border-bottom-style:solid;
}
#delivery-options{
  border-right-width:1px;
  border-right-color:white;
  border-right-style:solid;
  
}
#delivery-1, #delivery-2, #delivery-3{
  color:white;
  font-family: 'Chivo', sans-serif;
  font-size:20px;
  
}
#delivery-1-1, #delivery-2-2, #delivery-3-3{
  color:white;
  font-family: 'Chivo', sans-serif;
  font-size:20px;
}
#delivery-icon{
  margin-left:5px;
}
#bg-4{
  background-image:url(./pics/gaming-3.jpg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:400px;
}
#payment{
  
  background-color:black;
  -webkit-box-shadow: 0px 0px 155px -29px rgba(239,1,7,1);
-moz-box-shadow: 0px 0px 155px -29px rgba(239,1,7,1);
box-shadow: 0px 0px 155px -29px rgba(239,1,7,1);
}
#payment-txt, #payment-1, #payment-2, #payment-3, #payment-1-1, #payment-2-2, #payment-3-3{
  color:white;
  font-family: 'Chivo', sans-serif;
  font-size:20px;
}
#social-bar{
  background-color:black;
  border-top-width:1px;
  border-top-color:white;
  border-top-style:solid;
}
#social-txt{
  
  color:white;
  font-size:20px;
  
}
#social-1, #social-2, #social-3, #social-4{
  display:inline-block;
  color:white;
  font-size:20px;
  margin:0px 10px;
}
#arrow-up{
  color:white;
  font-size:50px;
text-align: center;
margin-left:50%;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;

}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: #ccc;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
table tbody tr:hover{
  
  cursor:pointer;
}
.selected-1{
  background-image: linear-gradient(to right, #870000 0%, #190A05 51%, #870000 100%)
}

#pasirinktos_dalys{
background-color:#121212;
border-width:1px;
border-color:white;
border-style:solid;
transition:box-shadow 0,5s;
}
#pasirinktos_dalys ul li{
  color:white;
}
#check-build{
  box-sizing: border-box;
  position:absolute;
  right:0;
  bottom:0;
  border-radius:10px;
}
#h6-txt{
  color:white;
}
h5{
  color:white;
}
.tab{
  background-color:#121212;
  border-width:0px;
}
.tablinks{
  color:white;
  border-width:1px;
  border-style:solid;
  border-color:white;
}
.tablinks:hover{
color:black;
background-color:white;
}
.tablinks.active{
  color:black;
  background:white;
  }
  tr, td, th{
    color:white;
    text-align:center;
    
  }
  
  .table, .tabcontent{
    background-color:#121212;
    
  }
#checked-info{
  border-left-width: 1px;
  border-left-color:white;
  border-left-style:solid;
  text-align:center;
}
h5{
  font-weight:normal;
}
.failed{
  -webkit-box-shadow:inset 0px 0px 155px -29px rgba(239,1,7,1);
-moz-box-shadow:inset 0px 0px 155px -29px rgba(239,1,7,1);
box-shadow:inset 0px 0px 47px -8px rgba(239,1,7,1);
transition: box-shadow 0.3s ease-in-out;
}
.success{
  -webkit-box-shadow: inset 0px 0px 113px 2px rgba(0,255,0,1);
-moz-box-shadow: inset 0px 0px 113px 2px rgba(0,255,0,1);
box-shadow: inset 0px 0px 47px -8px rgba(0,255,0,1);
transition: box-shadow 0.3s ease-in-out;
}

